<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <style>
      .row {
        margin-bottom:6px;
      }
      .col-xs-12, .col-xs-3,  .col-xs-2,.col-xs-4, .col-xs-8{
        background-color:#f1f1f1;
        text-align:center;
        padding-top:3px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-xs-12" style="background-color:white">
          <p-button label="Primary"></p-button>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div
              class="col-xs-3"
              style="height:30px;border-right:6px solid white;"
            >
              <span></span>
            </div>
            <div class="col-xs-3" style="height:30px;"><span></span></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
