<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<div class="container">
  <br />
  <br />
  <div class="row">
    <div class="col-xs-12" style="background-color:white; text-align: center">
      <p-button
        label="Create Form Layout"
        (click)="createFormLayout()"
        [disabled]="this.showAdd"
      ></p-button>
      <p-button
        label="Generate Angular Code"
        (click)="createFormLayout()"
        style="padding-left: 25px"
        [disabled]="!this.showAdd"
      ></p-button>
    </div>
  </div>
  <br />
  <div class="container-fluid">
    <div
      class="row"
      style="margin-bottom:6px;"
      *ngFor="let rowData of rows; let rowIndex = index"
    >
      <div class="container">
        <div
          class="col-xs-{{ col }}"
          style="height:30px;border-right:6px solid white;background-color:#f1f1f1;
              text-align:center;
              padding-top:3px;"
          *ngFor="let colData of rowData.cols; let colIndex = index"
        >
          <span style="font-size: 8px" *ngIf="showAdd && colData.placeholder">
            {{ colData.placeholder }}
          </span>
          <i
            class="pi pi-plus"
            style="cursor: pointer; color: slateblue;"
            *ngIf="showAdd && !colData.saved"
            (click)="openElementConfig(colData)"
          ></i>
          <i
            class="pi pi-pencil"
            style="cursor: pointer; color: slateblue;padding-left: 4px"
            *ngIf="showAdd && colData.saved"
            (click)="openElementConfig(colData)"
          ></i>
          <app-element-config
            *ngIf="colData.showDialog"
            [inputData]="colData"
          ></app-element-config>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Form Layout"
  [(visible)]="layoutDialog"
  [position]="'top'"
  [style]="{ width: '100%' }"
>
  <div class="container">
    <div class="row" style="padding-bottom: 5px">
      <div class="col-xs-12">
        <p-message
          severity="error"
          text="Mandatory to fill all fields marked as *"
          [style]="{ width: '100%' }"
          *ngIf="showError"
        ></p-message>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="justify-content-center" style="padding-top: 5px">
          Form Element Types:<span style="color:red">*</span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="justify-content-center">
          <p-dropdown
            [options]="elementTypes"
            [(ngModel)]="selectedFormElement"
            optionLabel="name"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 10px">
      <div class="col-xs-6">
        <div class="justify-content-center" style="padding-top: 5px">
          Number of columns:<span style="color:red">*</span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="justify-content-center">
          <p-dropdown
            [options]="colums"
            [(ngModel)]="selectedNoOfColumns"
            optionLabel="cols"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row" style="padding-top: 10px">
      <div class="col-xs-12" style="text-align: center">
        <p-button label="Create Layout" (click)="layoutSubmit()"></p-button>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />
  </div>
</p-dialog>
